* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #66a8de;
  font-size: 1em;
  color: hsl(210, 25%, 24%);
  font-family: Montserrat, sans-serif;
  overflow: hidden;
}

/* HEADER related changes, not needed for this phase
header {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 99;
} */
/*
#logo {
  background-color: #d8e1e9;
  position: relative;
  text-align: center;
  top: 30px;
  left: 30px;
  width: 140px;
  height: 50px;
}

#slider-nav {
  position: absolute;
  right: 20px;
  top: 300px;
}

ul {
  font-size: 2rem;
  color: white;
} */
main {
  position: absolute;
  background-color: #4a48d9;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 4em;
  width: 100%;
  position: absolute;
  bottom: 0vh;
  color: #9cbff2;
  font-family: 'Amatic SC', cursive;
}

.principlesBG {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  position: absolute;
  /* align-items: center; */
  text-align: center;
  background-color: #2e2047;
  top: 1%;
  right: 1%;
  z-index: 10;
  width: 98%;
  height: 98%;
}

#principle-ground {
  position: absolute;
  background-color: #241130;
  width: 100%;
  height: 33vh;
  align-items: center;
  bottom: 0;
  right: 0;
}












#principle-1 {
  background: linear-gradient(50deg, rgba(255, 255, 28, 1) 10%, rgba(214, 58, 95, 1) 100%);
  position: absolute;
  width: 10em;
  height: 10em;
  /* Centering div */
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 28, .3);
  z-index: 1;
  /*TRIGGER ANIMATION ON LOAD */



clip-path: ellipse(50% 10% at 50% 50%);
  animation-name: bounceBall;
  animation-duration: 4s;
  animation-delay: 0.52s;
  animation-iteration-count: 1;

  /* OR */
  /* animation: squashAndStretch, 5s, infinite; */
}

@keyframes bounceBall {
  from {
    transform: translate(-50%, -50%) scale(1);
  }


  35% {
    transform: translate(-50%, -50%) scale(0);

  }
  36% {
    transform: translate(-50%, -50%) scale(2);

  }
  42% {
    transform: translate(-50%, -50%) scale(1.4);

  }
  to {
  transform: translate(-50%, -50%) scale(1.4);
  }
}




#principle-2 {
  background: linear-gradient(50deg, rgba(28, 112, 255, 1) 10%, rgba(96, 29, 154, 1) 100%);
  position: absolute;
  width: 10em;
  height: 10em;
  /* Centering div */
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 28, .3);
  z-index: 0;
  /*TRIGGER ANIMATION ON LOAD */


clip-path: ellipse(50% -10% at 50% 50%);
  animation-name: bounceBall;
  animation-duration: 4s;
  animation-delay: 0.52s;
  animation-iteration-count: 1;

  /* OR */
  /* animation: squashAndStretch, 5s, infinite; */
}





#principle-1:hover {
  transform: translateX(-50%) translateY(-150%) scale(1.2) rotate(0deg);
  transition-property: background, transform, border-radius, box-shadow;
  transition-duration: 500ms, 300ms, 300ms, 500ms;
  transition-timing-function: linear;
  cursor: pointer;
  box-shadow: 0px 0px 30px 5px rgba(97, 180, 205, .6);
}
