@media only screen and (max-width: 600px) {
  body {
    background-color: #decb66;
    font-size: 1em;
    color: hsl(210, 25%, 24%);
    font-family: Montserrat, sans-serif;
  }

  main {
    background-color: #2e2047;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }
}

* {
  box-sizing: border-box;
  /* VARIABLES FOR THE PRINCIPLE ANIMATIONS */
  /* Principle 1 */
  --squareSize: 5em;

  --initY: 25%;
  --finY: -50%;

  --initX: -150%;
  --finX: 50%;

  --secInitX: -150%;
  --secFinX: -5%;
  --secY: 150%;

  --timInitX: -100%;
  --timFinX: 50%;

  --sat: 30%;
  --bright: 5%;

}

body {
  width: 100vw;
  height: 100vh;
  background-color: #2e2047;
  font-size: 1em;
  color: hsl(210, 25%, 24%);
  font-family: Montserrat, sans-serif;
  overflow: hidden;
}

main {
  background-color: #2e2047;
  margin: 1%;
  width: 98%;
  height: 97%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0.5%;
  grid-row-gap: 1%;
}

.principleTitle {
  font-size: 2.5em;
  position: relative;
  color: #9cbff2;
  font-family: 'Amatic SC', cursive;
  transform: translateX(0%) translateY(200%);
  opacity: 0;
  transition: opacity .3s, transform .5s;
  transition-delay: .15s;
  transition-timing-function: ease-out;
}

#div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: hsl(0, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#principle-1 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  /* Centering div */
  transform-origin: bottom;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(var(--initY));
  border-radius: 50%;
  box-shadow: 0px 13px 10px -2px rgba(0, 0, 28, .3);
  /*TRIGGER ANIMATION ON LOAD */
  animation-name: squashAndStretch;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  /* animation: squashAndStretch, 1s, infinite; */
}

@keyframes squashAndStretch {
  from {
    animation-timing-function: ease-in-out;
    transform: translateX(-50%) translateY(var(--finY)) scaleX(1) scaleY(1);
  }

  10%,
  20% {
    transform: translateX(-50%) scaleX(0.8) scaleY(1.2);
    box-shadow: 0px 150px 200px -50px rgba(0, 45, 205, .6);
  }

  20%,
  29% {
    transform: translateX(-50%) translateY(var(--initY)) scaleX(1.5) scaleY(.5);
  }

  29%,
  31% {
    transform: translateX(-50%) translateY(var(--initY)) scaleX(1.7) scaleY(.3);
  }

  31%,
  33% {
    transform: translateX(-50%) translateY(var(--initY)) scaleX(1.7) scaleY(.3);
  }

  33%,
  35% {
    transform: translateX(-50%) translateY(var(--initY)) scaleX(1.3) scaleY(.7);
  }

  35%,
  36% {
    transform: translateX(-50%) translateY(var(--initY)) scaleX(0.5) scaleY(1.5);
  }

  to {
    animation-timing-function: ease-in-out;
    transform: translateX(-50%) translateY(var(--finY)) scaleX(1) scaleY(1);
    box-shadow: 0px 0px 70px -5px rgba(0, 45, 205, .7);
  }
}

#div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: hsl(30, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#principle-2 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  /* Centering div */
  transform-origin: bottom;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(var(--initY));
  border-radius: 0%;
  animation-name: anticipation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes anticipation {
  from {
    animation-timing-function: ease-out;
    transform: translateX(-50%) translateY(var(--initY)) scaleX(1) scaleY(1);
  }

  0%,
  70% {
    transform: translateX(-50%) translateY(var(--initY)) scaleX(1) scaleY(1);
  }

  70%,
  75% {
    transform: translateX(-50%) translateY(var(--initY)) scaleX(1) scaleY(.7);
    box-shadow: 0px 0px 100px -2px rgba(0, 45, 205, .9);
  }

  75%, 90% {
    transform: translateX(-50%) translateY(var(--finY)) scaleX(1) scaleY(1);
    box-shadow: 0px 0px 100px 10px rgba(0, 45, 205, .9);
    animation-timing-function: ease-in;
  }

  to {
    animation-timing-function: ease-out;
    transform: translateX(-50%) translateY(var(--finY)) scaleX(1) scaleY(1);
  }
}

#div3 {
  grid-area: 1 / 3 / 2 / 4;
  background-color: hsl(60, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
}

#principle-3 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(var(--initY));
  border-radius: 0%;
  animation-name: staging;
  animation-delay: .5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes staging {
  from {
    animation-timing-function: ease-out;
    transform: translateX(-50%) translateY(var(--initY));
  }

  30%,
  40% {
    transform: translateX(-50%) translateY(var(--initY));
    border-radius: 0%;
    box-shadow: 0px 0px 10px 3px rgba(0, 45, 205, .9);
  }

  40%, 80% {
    transform: translateX(-50%) translateY(var(--finY)) rotate(360deg);
    border-radius: 0%;
    box-shadow: 0px 0px 100px 10px rgba(0, 45, 205, .9);
  }

  to {
    animation-timing-function: ease-in;
    transform: translateX(-50%) translateY(var(--initY));
  }
}

#div4 {
  grid-area: 1 / 4 / 2 / 5;
  background-color: hsl(90, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#principle-4 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translateX(-170%) translateY(-50%);
  border-radius: 0%;
  animation-name: poseToPose;
  animation-delay: .5s;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@keyframes poseToPose {
  from {
    animation-timing-function: ease-out;
    transform: translate(var(--initX), -50%);
    border-radius: 0%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  20%, 30% {
    transform: translate(-50%, -50%) rotate(-180deg);
  }

  20%, 45% {
    transform: translate(-50%, -50%) rotate(-180deg);
    border-radius: 0%;
    clip-path: polygon(50% 0%, 50% 0%, 100% 80%, 0% 80%);
  }

  65%, 75% {
    transform: translate(var(--finX), -50%) rotate(90deg);
    border-radius: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  to {
    animation-timing-function: ease-out;
    transform: translate(var(--initX), -50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

#div5 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: hsl(120, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#principle-5 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  transform-origin: bottom right;
  top: 50%;
  left: 50%;
  transform: translate(var(--initX), -50%);
  border-radius: 0%;
  animation-name: followThrough;
  animation-delay: .5s;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@keyframes followThrough {
  from {
    animation-timing-function: ease-out;
    transform: translate(var(--initX), -50%);
    border-radius: 0%;
  }

  10%, 40% {
    transform: translate(var(--finX), -50%) rotate(-5deg) skewX(20deg);
  }

  39%, 42% {
    transform: translate(var(--finX), -50%) rotate(8deg) skewX(-10deg);
  }

  42%, 46% {
    transform: translate(var(--finX), -50%) rotate(-3deg) skewX(4deg);
  }

  46%, 48% {
    transform: translate(var(--finX), -50%) rotate(3deg) skewX(-2deg);
  }

  48%, 49% {
    transform: translate(var(--finX), -50%) rotate(0deg) skewX(0deg);
  }

  to {
    animation-timing-function: ease-out;
    transform: translate(var(--finX), -50%) rotate(0deg);
  }
}

#div6 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: hsl(150, var(--sat), var(--bright));
    align-items: center;
  text-align: center;
  overflow: hidden;
}

#principle6-1 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: 2em;
  height: 2em;
  transform-origin: bottom right;
  top: 50%;
  left: 50%;
  transform: translate(-300%, 100%);
  border-radius: 50%;
  animation-name: linear;
  animation-delay: .5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes linear {
  from {
    transform: translate(-300%, 100%);
  }

  15% {
    transform: translate(-300%, 100%);
  }

  55% {
    transform: translate(200%, 100%);
  }

  65% {
    transform: translate(200%, 100%);
  }

  to {
    transform: translate(-300%, 100%);
  }
}

#principle6-2 {
  background: linear-gradient(50deg, rgba(134, 1, 123, 1) -60%, rgba(255, 192, 203, 1) 30%, rgba(255, 198, 28, 1) 100%);
  position: relative;
  width: 2em;
  height: 2em;
  transform-origin: bottom right;
  top: 50%;
  left: 50%;
  transform: translate(-300%, 200%);
  border-radius: 50%;
  z-index: 1;
  animation-name: easeInOut;
  animation-delay: .5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes easeInOut {
  from {
    transform: translate(-300%, 200%);
  }

  15% {
    transform: translate(-300%, 200%);
  }

  55% {
    transform: translate(200%, 200%);
  }

  65% {
    transform: translate(200%, 200%);
  }

  to {
    transform: translate(-300%, 200%);
  }
}

#principle6-3 {
  background: linear-gradient(50deg, rgba(239, 50, 217, 1) -60%, rgba(137, 255, 253, 1) 100%);
  position: relative;
  width: 2em;
  height: 2em;
  transform-origin: bottom right;
  top: 50%;
  left: 50%;
  transform: translate(-300%, 300%);
  border-radius: 50%;
  z-index: 1;
  animation-name: custom;
  animation-delay: .5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.10, 1.35, 0.98, 1.02);
}

@keyframes custom {
  from {
    transform: translate(-300%, 300%);
  }

  15% {
    transform: translate(-300%, 300%);
  }

  55% {
    transform: translate(200%, 300%);
  }

  65% {
    transform: translate(200%, 300%);
  }

  to {
    transform: translate(-300%, 300%);
  }
}

#div7 {
  grid-area: 2 / 3 / 3 / 4;
    background-color: hsl(180, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#principle-7 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  transform-origin: center;
  offset-path: path("M84.75,160c0-47.5,38.5-86,86-86s86,38.5,86,86");
  offset-distance: 0%;
  border-radius: 50%;
  animation-name: arcs;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes arcs {
  from {
    transform: scaleX(1) scaleY(1) rotate(-45deg);
    box-shadow: 0px 13px 10px -2px rgba(0, 0, 28, .3);
    offset-distance: 0%;
  }

  to {
    transform: scaleX(1) scaleY(1) rotate(720deg);
    box-shadow: 0px 13px 10px -2px rgba(0, 0, 28, .3);
    offset-distance: 100%;
  }
}

#div8 {
  grid-area: 2 / 4 / 3 / 4;
  background-color: hsl(210, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#principle8-1 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  transform-origin: bottom right;
  top: 50%;
  left: 50%;
  transform: translate(var(--secInitX), var(--secY));
  border-radius: 0%;
  animation-name: secondaryAction;
  animation-delay: .5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 28, .3);
}

@keyframes secondaryAction {
  from {
    animation-timing-function: ease-out;
    transform: translate(var(--secInitX), var(--secY));
    border-radius: 0%;
  }

  10%, 40% {
    transform: translate(var(--secFinX), var(--secY)) skewX(20deg);
  }

  39%, 42% {
    transform: translate(var(--secFinX), var(--secY)) skewX(-10deg);
  }

  42%, 46% {
    transform: translate(var(--secFinX), var(--secY)) rotate(-3deg) skewX(4deg);
  }

  46%, 48% {
    transform: translate(var(--secFinX), var(--secY)) rotate(3deg) skewX(-2deg);
  }

  48%, 49% {
    transform: translate(var(--secFinX), var(--secY)) rotate(0deg) skewX(0deg);
  }

  to {
    animation-timing-function: ease-out;
    transform: translate(var(--secFinX), var(--secY)) rotate(0deg);
  }
}

#principle8-2 {
  background: linear-gradient(50deg, rgba(255, 255, 28, 1) 10%, rgba(214, 58, 95, 1) 100%);
  position: relative;
  width: 2em;
  height: 2em;
  transform-origin: bottom right;
  top: 50%;
  left: 50%;
  transform: translateX(600%) translateY(300%) rotate(0deg);
  border-radius: 0%;
  animation-name: overlap;
  animation-delay: .45s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes overlap {
  from {
    animation-timing-function: ease-in;
    transform: translateX(600%) translateY(300%) rotate(0deg);
  }

  10%, 40% {
    transform: translateX(200%) translateY(300%) rotate(0deg) skewX(-10deg);
  }

  40%, 45% {
    transform: translateX(200%) translateY(300%) rotate(48deg) skewX(0deg);
  }

  45%, 48% {
    transform: translateX(200%) translateY(300%) rotate(43deg) skewX(0deg);
  }

  48%, 65% {
    transform: translateX(200%) translateY(300%) rotate(90deg);
  }

  95% {
    transform: translateX(200%) translateY(300%) rotate(90deg);
  }

  to {
    animation-timing-function: ease-out;
    transform: translateX(200%) translateY(300%) rotate(90deg);
  }
}

#div9 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: hsl(240, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#principle9-1 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  transform-origin: bottom right;
  top: 50%;
  left: 50%;
  transform: translate(var(--timInitX), var(--secY));
  border-radius: 0%;
  animation-name: timing1;
  animation-delay: .5s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  z-index: 1;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 28, .3);
}

@keyframes timing1 {
  from {
    animation-timing-function: ease-out;
    transform: translate(var(--timInitX), var(--secY))rotate(0deg) skewX(0deg);
  }

  5%, 10% {
    transform: translate(var(--timInitX), var(--secY))rotate(-2deg) skewX(-2deg);
  }

  49% {
    transform: translate(var(--timFinX), var(--secY)) skewX(-2deg);
  }

  49% {
    transform: translate(var(--timFinX), var(--secY)) skewX(0deg);
  }

  52% {
    transform: translate(var(--timFinX), var(--secY))skewX(2deg);
  }

  to {
    animation-timing-function: ease-out;
    transform: translate(var(--timInitX), var(--secY)) rotate(0deg);
  }
}

#principle9-2 {
  background: linear-gradient(50deg, rgba(255, 255, 28, 1) 10%, rgba(214, 58, 95, 1) 100%);
  position: relative;
  width: 2em;
  height: 2em;
  transform-origin: bottom right;
  top: 50%;
  left: 50%;
  transform: translateX(-700%) translateY(220%);
  border-radius: 50%;
  /*TRIGGER ANIMATION ON LOAD */
  animation-name: timing2;
  animation-delay: .5s;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 28, .3);
}

@keyframes timing2 {
  from {
    animation-timing-function: ease-out;
    transform: translate(-400%, 270%);
  }

  5% {
    transform: translate(-400%, 270%) rotate(-5deg) skewX(20deg);
  }

  50%, 53% {
    transform: translate(300%, 270%) rotate(8deg) skewX(-10deg);
  }

  42%, 46% {
    transform: translate(300%, 270%) rotate(-3deg) skewX(4deg);
  }

  46%, 48% {
    transform: translate(300%, 270%) rotate(3deg) skewX(-2deg);
  }

  48%, 49% {
    transform: translate(300%, 270%) rotate(0deg) skewX(0deg);
  }

  to {
    animation-timing-function: ease-out;
    transform: translate(-400%, 270%);
    z-index: 4;
  }
}

#div10 {
  grid-area: 3 / 2 / 4 / 3;
  background-color: hsl(270, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
  overflow: hidden;
}


#principle-10 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  /* Centering div */
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,0%);
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 28, .7);


  animation: boxGrow 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}
@keyframes boxGrow {
  from {
    transform: translate(-50%, 0%) rotate(0);
  }

  20% {
    transform: translate(-50%, 0%) rotate(0);
  }



  25% {
    transform: translate(-50%, -50%) scale(2.5);
    /* border-radius: 50%; */
    box-shadow: 0px 0px 10px 3px rgba(34, 114, 250, 0.7);
  }


  90% {
    transform: translate(-50%, -50%) scale(2.5);
    /* border-radius: 50%; */
  }

  to {
    transform: translate(-50%, 0%) rotate(0deg);
  }
}



#div11 {
  grid-area: 3 / 3 / 4 / 4;
    background-color: hsl(320, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#principle-11{
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  /* Centering div */
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%) scale(0);

  border-radius: 50%;

  animation-timing-function: ease-in-out;
  animation-name: floatBall;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}
@keyframes floatBall {
  from {

    transform: translate(-50%, 500%) scale(0);
  }

  15% {
    transform: translate(-50%, 500%) scale(1);
  }

  20% {
    transform: translate(-50%, -50%) scale(2);
  }

  30% {
    transform: translate(-50%, 0%) scale(2);
  }

  50% {
    transform: translate(-50%, -50%) scale(2);
  }

  70% {
    transform: translate(-50%, 0%) scale(2);

  }

  90%{
    transform: translate(-50%, -50%) scale(2);

  }

  98% {
transform: translate(-50%, -100%) scale(2);
  }

  to {
    transform: translate(-50%, 400%) scale(0.6);


  }
}


#div12 {
  grid-area: 3 / 4 / 4 / 5;
  background-color: hsl(340, var(--sat), var(--bright));
  align-items: center;
  text-align: center;
}

#principle-12{
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: relative;
  width: var(--squareSize);
  height: var(--squareSize);
  /* Centering div */
  transform-origin: center;
  top: 50%;
  left: 50%;
  border-radius: 0%;
  transform: translate(-50%, -50%) rotate(0) scale(0);
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 28, .3);


  /*TRIGGER ANIMATION ON LOAD */
  animation-timing-function: ease-in-out;
  animation-name: bigSquare;
  animation-duration: 3s;
  animation-delay: 0.52s;
  animation-iteration-count: infinite;
  animation-direction: alternate;


}

@keyframes bigSquare {
  from {
    transform: translate(-50%, -50%) rotate(0) scale(0);

    border-radius: 50%;

  }

70% {
  transform: translate(-50%, -50%) rotate(-1035deg) scale(1.5);

  border-radius: 0%;
}

  to {
    transform: translate(-50%, -50%) rotate(-1035deg) scale(1.5);

    border-radius: 0%;
  }
}
