* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #66a8de;
  font-size: 1em;
  color: hsl(210, 25%, 24%);
  font-family: Montserrat, sans-serif;
  overflow: hidden;
}

/* HEADER related changes, not needed for this phase
header {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 99;
} */
/*
#logo {
  background-color: #d8e1e9;
  position: relative;
  text-align: center;
  top: 30px;
  left: 30px;
  width: 140px;
  height: 50px;
}

#slider-nav {
  position: absolute;
  right: 20px;
  top: 300px;
}

ul {
  font-size: 2rem;
  color: white;
} */


main {
  position: absolute;
  background-color: #d948c6;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 4em;
  width: 100%;
  position: absolute;
  bottom: 0vh;
  color: #9cbff2;
  font-family: 'Amatic SC', cursive;
}

.principlesBG {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  position: absolute;
  /* align-items: center; */
  text-align: center;
  background-color: #2e2047;
  top: 1%;
  right: 1%;
  z-index: 10;
  width: 98%;
  height: 98%;
}

#principle-ground {
  position: absolute;
  background-color: #241130;
  width: 100%;
  height: 33vh;
  align-items: center;
  bottom: 0;
  right: 0;
}

#principle-1 {
  background: linear-gradient(50deg, rgba(97, 180, 205, 1) -60%, rgba(38, 55, 138, 1) 30%, rgba(255, 255, 28, 1) 100%);
  position: absolute;
  width: 15em;
  height: 15em;
  /* Centering div */
  transform-origin: bottom;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);

  border-radius: 0%;
  /* box-shadow: 0px 13px 10px -2px rgba(0, 0, 28, .3); */
  /*TRIGGER ANIMATION ON LOAD */

  animation-name: squashAndStretch;


  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* OR */
  /* animation: squashAndStretch, 5s, infinite; */

}

#principle-1:hover {
  transform: translateX(-50%) translateY(-150%) scale(1.2) rotate(0deg);
  transition-property: background, transform, border-radius, box-shadow;
  transition-duration: 500ms, 300ms, 300ms, 500ms;
  transition-timing-function: ease-in-out;
  transition-delay: 150ms;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 28, .2);
  box-shadow: 0px 0px 30px 5px rgba(97, 180, 205, .6);
  /* animation-name: squashAndStretch, bounce;
  animation-delay: .5s, 6.5s;
  animation-duration: 6s, 4s; */
}

@keyframes squashAndStretch {
  from {
    animation-timing-function: ease-out;
    transform: translate(-50%,50%) scaleX(1) scaleY(1);


  }

  0%,
  70% {
        transform: translate(-50%,50%)  scaleX(1) scaleY(1);

  }


  70%,
  75% {
        transform: translate(-50%,50%)  scaleX(1) scaleY(.7);
box-shadow: 0px 0px 100px -2px rgba(0, 45, 205, .9);
  }





  75%,90%
 {
    transform: translate(-50%, -150%)  scaleX(1) scaleY(1);
box-shadow: 0px 0px 100px 10px rgba(0, 45, 205, .9);
    animation-timing-function: ease-in;

  }






  to {

    animation-timing-function: ease-out;
    transform: translate(-50%, 50%)  scaleX(1) scaleY(1);




  }
}

/* @keyframes bounce {
  from {
    transform: translateX(-50%) translateY(-200%) scaleX(1) scaleY(1);
  }

  25%,
  50% {
    transform: translateX(-50%) translateY(0%) scale(1.2);
  }

  50%, 100% {
    transform: translateX(-50%) translateY(20%) scale(1.2);
  }

  to {
    transform: translateX(-50%) translateY(30%) scale(1.2);
  }
} */
