* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}


body {
  background-color: #66a8de;
  font-size: 1em;
  color: hsl(210, 25%, 24%);
  font-family: Montserrat, sans-serif;
  overflow: hidden;

}

header {
  position: absolute;
  right: 0;
  top: 0;
  width:100vw;
  z-index: 99;
}

#logo {
  background-color: #d8e1e9;
  position: relative;
  text-align: center;
  top:30px;
  left: 30px;
  width: 140px;
  height: 50px;

}

#slider-nav {
  position: absolute;
  right: 20px;
  top: 300px;
}

ul{
  font-size: 2rem;
  color: white;
}


#main-section{
  position:absolute;
  background-color: #629bf0;
  width:100vw;
  height: 100vh;
}



.principlesBG {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  align-items: center;
  text-align: center;
  background-color: #2e2047;
  top: 1%;
  right:1%;
  z-index: 10;
  width: 98%;
  height: 98%;


}



.principle-container {


    position: relative;
    width: 100%;
    height:100%;
    align-items: center;
    top: 0;
    right: 0;


}

#principle-1 {

    background-color: #34c86b;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#principle-1:hover {
  width: 240px;
  height: 360px;

}

h1 {
  /* padding: 2rem; */
  font-size: 4em;
  width: 100%;
  position: absolute;
  z-index: 11;
  bottom: 0vh;
  color: #9cbff2;


  font-family: 'Amatic SC', cursive;
}

.images {
  position: absolute;
  width: 80%;
  top: 20em;
  right: 50%;
  transform: translate(50%, 0);

}

#img1 {
  opacity: 1;
  transform-origin: bottom left;
   transition: all 200ms ease-in-out;
}

#img1:hover {



}

.arrows {
  margin: 2%;
  z-index: 1;
  position: absolute;
    top: 400px;
  width: 9%;
    opacity: 1;



}

.arrows:hover{
  top: 410px;
  opacity: 0.6;

  transition-duration: 100ms;
  transition-delay: 50ms;


}


#arrowLeft {
left: 25px;

}
#arrowLeft:hover {
left: 15px;

}






#arrowRight {right: 25px;


}

#arrowRight:hover {right: 15px;


}
